<a href="https://colab.research.google.com/github/ShashankDimri-code/aiml-lab/blob/main/experiment04_aiml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

In [ ]:
#Loading the dataset
df = pd.read_csv('sample_dataset.csv')

In [ ]:
#Number of rows and columns
print("Number of rows and columns:", df.shape)

Number of rows and columns: (10, 5)

In [ ]:
#First five rows
print("First five rows:")
print(df.head())

First five rows:
   Product ID  Product Name     Category  Stock Quantity  Price
0         101        Laptop  Electronics              25  $850
1         102    Smartphone  Electronics              40  $600
2         103    Desk Chair    Furniture              15  $120
3         104  Coffee Table    Furniture              10  $200
4         105        LED TV  Electronics              20  $500

In [ ]:
#Size of the dataset
print("Size of the dataset (in bytes):", df.memory_usage().sum())

Size of the dataset (in bytes): 528

In [ ]:
#Number of missing values
print("Number of missing values in each column:")
print(df.isnull().sum())

Number of missing values in each column:
Product ID        0
Product Name      0
Category          0
Stock Quantity    0
Price             0
dtype: int64

In [ ]:
#Summary statistics for numerical columns
print("Summary statistics:")
print(df.describe())

Summary statistics:
       Product ID  Stock Quantity
count    10.00000       10.000000
mean    105.50000       23.000000
std       3.02765       14.749765
min     101.00000        5.000000
25%     103.25000       11.250000
50%     105.50000       21.000000
75%     107.75000       32.500000
max     110.00000       50.000000

In [ ]:
#defining numerical columns
numerical_cols = df.select_dtypes(include=['number'])
#Sum
print("Sum of numerical columns:")
print(numerical_cols.sum())

Sum of numerical columns:
Product ID        1055
Stock Quantity     230
dtype: int64

In [ ]:
#average of numerical columns
print("Average of numerical columns:")
print(numerical_cols.mean())

Average of numerical columns:
Product ID        105.5
Stock Quantity     23.0
dtype: float64

In [ ]:
print("Minimum values of numerical columns:")
print(numerical_cols.min())

Minimum values of numerical columns:
Product ID        101
Stock Quantity      5
dtype: int64

In [ ]:
print("Maximum values of numerical columns:")
print(numerical_cols.max())

Maximum values of numerical columns:
Product ID        110
Stock Quantity     50
dtype: int64